[Unit]
Description = Listen to RuuviTag events
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart = /bin/sh -c 'ruuvitag-listener | netcat -q 0 localhost 8094'
Restart = always

[Install]
WantedBy=multi-user.target
